<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./Blocks/head', title) %>
</head>

<body>
    <%- include('./Blocks/navbar') %>

    <section id="about" class="d-flex align-items-center">
      
    </section>

    <%- include('./Blocks/top') %>
    <%- include('./Blocks/footer') %>
    <script src="/JS/statify.js"></script>
</body>

</html>