<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./Blocks/head', title) %>
</head>

<body>

    <h1>Hello, <%= user.username %>#<%= user.discriminator %></h1>

    <%- include('./Blocks/footer') %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/statify.js"></script>
</body>

</html>