<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./Blocks/head', title) %>
</head>

<body>

  <%- include('./Blocks/navbar', user) %>

    <section id="home">
      <div class="container">
        <div class="home-content">
          <div class="home-items">
            <div class="col-lg-7">
              <h1>Game stats straight to discord.</h1>
            <hr>
            <p>statify is fully customized Discord bot for looking up game stats directly in Discord. statify is also coded to prevent errors such as if the player is not found it will simply say that!</p>
            <p>Want to try statify? Just click on the "Add To Server" button to add the bot. Don't forgot to join our Discord for updates on statify!</p>
            </div>
          </div>
          <div class="home-buttons">
            <button onclick="location.href='/invite'" class="btn btn-lg">Add To Server <i class="fa-solid fa-robot"></i></button>
            <button onclick="location.href='/discord'" class="btn btn-lg">Discord <i class="fa-brands fa-discord"></i></button>
          </div>
        </div>
      </div>
    </section>

    <%- include('./Blocks/footer') %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/JS/statify.js"></script>
</body>

</html>