<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./Blocks/head', title) %>
</head>

<body>

  <%- include('./Blocks/navbar') %>

    <section id="home" class="d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div
            class="col-lg-8 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1"
            data-aos="fade-down">
            <div>
              <h2>Game stats straight to discord.</h2>
              <p>
                statify is customized Discord bot for looking up game stats directly in Discord.
                <br>
                Our Discord Bot is fully coded to prevent errors, wrong lookups and bad requests.
              </p>
              <p>
                Want to have statify in your server? Just click on the invite statify button below. 
                <br> 
                Don't forget to join our discord for updates on statify!
              </p>
              <a href="/discord" class="links"><i class="fa-brands fa-discord"></i> Discord</a>
              <a href="/invite" class="links"><i class="fa-solid fa-robot"></i> Invite statify</a>
            </div>
          </div>
          <div class="col-lg-4 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 home-img"
            data-aos="fade-down">
            <img src="/Images/statify_logo_icon.png" class="img-fluid" alt="">
          </div>
        </div>
      </div>
    </section>

    <%- include('./Blocks/top') %>

      <%- include('./Blocks/footer') %>

        <script src="/JS/statify.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

</body>

</html>