<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./Blocks/head', title) %>
</head>

<body>

  <%- include('./Panel/navbar') %>

    <section id="servers" class="d-flex align-items-center">
      <div class="container mt-3">
        <div class="section-title d-flex">
          <div class="user-avatar">
            <div class="load-img">
              <img class="avatar-img" src="/Images/statify_logo_icon.png" width="100" height="100" alt="avatar-img">
            </div>
          </div>
          <div class="user-details">
            <div class="user-username" style="margin-top: 24px; font-size: 24px;">
              <span style="color: #417bd2">Welcome,</span>
              Jinx.#0001!
            </div>
          </div>
        </div>
        <div class="container server-container">
          <div class="section-title2">
            <h1>Servers (number)</h1>
            <p style="font-size: 18px;">You have permissions in (number) to manage the statify bot.</p>
          </div>
          <div class="container mt-3">
            <div class="row">
              <div class="col-lg-3">
                <div class="card" style="width: 18rem;">
                  <a href="#"><img class="card-img-top" src="/Images/statify_logo_icon.png" alt="Card image cap" height="225" width="125"></a>
                  <div class="card-body">
                    <div class="server-name" style="text-align: center; font-size: 20px; font-weight: 600;">
                      statify
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="card" style="width: 18rem;">
                  <a href="#"><img class="card-img-top" src="/Images/statify_logo_icon.png" alt="Card image cap" height="225" width="125"></a>
                  <div class="card-body">
                    <div class="server-name" style="text-align: center; font-size: 20px; font-weight: 600;">
                      statify
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="card" style="width: 18rem;">
                  <a href="#"><img class="card-img-top" src="/Images/statify_logo_icon.png" alt="Card image cap" height="225" width="125"></a>
                  <div class="card-body">
                    <div class="server-name" style="text-align: center; font-size: 20px; font-weight: 600;">
                      statify
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="card" style="width: 18rem;">
                  <a href="#"><img class="card-img-top" src="/Images/statify_logo_icon.png" alt="Card image cap" height="225" width="125"></a>
                  <div class="card-body">
                    <div class="server-name" style="text-align: center; font-size: 20px; font-weight: 600;">
                      statify
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include('./Blocks/footer') %>

      <script src="/js/statify.js"></script>

</body>

</html>