<footer id="footer">
  <div class="container py-4">
    <div class="row">
      <div class="col-lg-4">
        <div class="text">
          Created & Coded by: <strong><span>Jinx.#0001</span></strong>
        </div>
      </div>
    </div>
  </div>
</footer>