<header id="header" class="panel-nav">
  <div class="container d-flex align-items-center justify-content-between">

    <div class="logo">
      <img src="/Images/statify_logo.png">
    </div>

    <nav id="navbar" class="navbar">
      <ul>
        <li class="dropdown"><a href="#"><img src="<%= avatarURL %>" height="40" width="40" style="border-radius: 100%; padding-right: 5px;"><span><%= user.username %></span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="/logout">Logout <i class="fa-solid fa-arrow-right"></i></a></li>
          </ul>
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>

  </div>
</header>