//Font Colors
$blueDark: #000733;
$blue: #417bd2;
$fontColor: #ebebeb;

//Background Colors
$background: #01040b;
$backgroundDark: #121212;
$backgroundDimDark: #1f1f1f;
$backgroundDimDarker: #101010;
$backgroundDarkish: #2d2d2d;

//Trans
$tran-03: all 0.2s ease;
$tran-03: all 0.3s ease;
$tran-04: all 0.3s ease;
$tran-05: all 0.3s ease;

$niceColor: #01040b;
$otherNiceColor: #000207;