//Font Colors
$blueDark: #000733;
$blue: #417bd2;
$fontColor: #ebebeb;

//Background Colors
$background: #434343;
$backgroundDark: #121212;
$backgroundDimDark: #1f1f1f;
$backgroundDimDarker: #101010;
$backgroundDarkish: #2d2d2d;

$test: #01040b;

$niceColor: #01040b;
$otherNiceColor: #000207;