@import './constants';

* {
  background: $background;
  color: $fontColor;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  user-select: none;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: $blue;
  border-radius: 2px
}
::-webkit-scrollbar-track {
  background: $backgroundDarkish
}

@import './Blocks/header';
@import './Blocks/footer';
@import './Blocks/navbar';
@import './Blocks/top';

@import './Pages/body';
@import './Pages/home';
@import './Pages/media';
@import './Pages/commands';
@import './Pages/error';
@import './Pages/status';
@import './Pages/about';

@import './Pages/dashboard';
@import './Pages/servers';