<footer id="footer">
  <div class="container py-4">
    <div class="row">
      <div class="col-lg-4">
        <div class="text">
          Created & Coded by: <strong><span>Jinx.#0001</span></strong>
        </div>
        <div class="icons">
          <a class="house" href="/"><i class="fa-solid fa-house"></i></a>
          &nbsp;
          <a class="github" href="/github"><i class="fa-brands fa-github"></i></a>
          &nbsp;
          <a class="discord" href="/discord"><i class="fa-brands fa-discord"></i></a>
          &nbsp;
          <a class="redirect" href="/invite"><i class="fa-solid fa-robot"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>