<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="footer-text">
          <p>statify.cc - created by Jinx</p>
        </div>
        <div class="footer-items">
          <a class="house" href="/"><i class="fa-solid fa-house"></i></a>
          &nbsp;
          <a class="discord" href="/discord"><i class="fa-brands fa-discord"></i></a>
          &nbsp;
          <a class="redirect" href="/invite"><i class="fa-solid fa-robot"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>