<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>
  <%= title %>
</title>
<meta content="" name="description">
<meta content="" name="keywords">

<link rel="icon" href="/Images/statify_logo_icon.png">
<link rel="apple-touch-icon" href="/Images/statify_logo_icon.png">

<link rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i">

<meta name="theme-color" content="#417bd2" />
<meta name="msapplication-TileColor" content="#417bd2">
<meta property="og:site_name" content="statify">
<meta property="og:title" content="statify">
<meta property="og:description" content="statify - Game stat lookups straight in discord.">
<meta name="description" content="statify - Game stat lookups straight in discord.">
<meta name="twitter:card" content="summary">
<meta property="og:url" content="http://statify.cc/">
<meta property="og:locale" content="en-US">
<meta property="og:type" content="website">
<meta property="og:image" content="/images/statify_logo.png">

<link href="/plugins/aos/aos/css" rel="stylesheet">
<link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/plugins/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="/plugins/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="/plugins/glightbox/css/glightbox.min.css" rel="stylesheet">
<link href="/plugins/swiper/swiper-bundle.min.css" rel="stylesheet">
<link href="/css/style.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet"
  integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
  crossorigin="anonymous" referrerpolicy="no-referrer">
