body {
  font-family: "Open Sans", sans-serif;
  color: #585a61;
  user-select: none;
}

a {
  color: #83489c;
  text-decoration: none;
}

a:hover {
  color: #7b94c9;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}
