#games {
  height: 130vh;

  .section-header {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 50px;

    h1 {
      margin-top: 20px;
    }
    p {
      margin-top: 25px;
    }
  }

  .games-items {
    .accordion {
      .accordion-item {

        .accordion-body {
          hr {
            background: $blue;
            height: 2px;
          }
        }
        border: 2px solid $blue;

        .accordion-header {
          .accordion-button {
            background: $background;
            color: $fontColor;
            border:none;
          }
        }
      }
    }
  }
}