#error {
  min-height: 969px;
  background: $background;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    position: relative;
    max-width: 1140px;
    max-height: 576px;
    width: 100%;
    background: $background;

    .box {
      position: relative;
      justify-content: center;
      align-items: center;
      background: $background;

      .error-items {
        color: $fontColor;
        background: $background;

        h1,
        h2 {
          background: $background;
        }

        button {
          color: $fontColor;

          i {
            margin-right: 5px;
            background: $background;
          }

          &:hover {
            border-radius: 0px;
            border-bottom: solid 1px $blue;

            i {
              background: $background;
            }
          }
        }
      }
    }
  }
}