#home {
  min-height: 910px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $test;

  .container {
    width: 100%;
    position: relative;
  
    margin: {
      left: auto;
      right: auto;
    }
  
    padding: {
      left: 15px;
      right: 15px;
    }
  }  

  .home-content {
    .home-items {
      font-size: 18px;
      hr {
        color: $test;
      }
    }
    .home-buttons {
      margin-top: 25px;
      margin-left: -15px;
      .btn {
        color: $fontColor;

        i {
          margin-left: 10px;
        }
        &:hover {
          box-shadow: 0 0px 10px $blue;
          i {
            color: $blue;
          }
        }
      }
    }
  }
}