.sidebar {
  position: fixed;
  height: 100%;
  width: 240px;
  background: $test;
  transition: background-color 0.5s ease;
  border-right: solid 2px $blue;

  .active {
    width: 60px;
  }

  .logo-details {
    height: 80px;
    display: flex;
    align-items: center;

    .navbar-brand {
      margin-top: 80px;
    }

    i {
      font-size: 28px;
      font-weight: 500;
      color: #fff;
      min-width: 60px;
      text-align: center
    }

    .logo_name {
      color: #fff;
      font-size: 24px;
      font-weight: 500;
    }
  }

  .side-footer {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 480px;

    p {
      font-size: 20px;
    }
  }

  .nav-links {
    margin-top: 100px;

    li {
      position: relative;
      list-style: none;
      height: 50px;

      a {
        height: 100%;
        width: 246px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        transition: all 0.4s ease;
        margin-left: -40px;

        &:hover {
          background: #081D45;
        }
        i {
          background: transparent;
          margin-left: -50px;
        }
        span {
          background: transparent;
        }

        .links_name {
          color: #fff;
          font-size: 15px;
          font-weight: 400;
          white-space: nowrap;
        }
      }

      a.active {
        background: $blue;
      }

      i {
        min-width: 60px;
        font-size: 18px;
        color: #fff;
        justify-content: space-evenly;
      }
    }

    .log_out {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }
}

.home-section {
  position: relative;
  background: $test;
  min-height: 100vh;
  width: calc(100% - 240px);
  left: 240px;
  transition: all 0.5s ease;

  nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    background: #fff;
    display: flex;
    align-items: center;
    position: fixed;
    width: calc(100% - 240px);
    left: 240px;
    z-index: 100;
    padding: 0 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
    background: $test;
    transition: background-color 0.2s ease;
    border-bottom: solid 2px $blue;

    .sidebar-button {
      display: flex;
      align-items: center;
      font-size: 24px;
      font-weight: 500;

      i {
        font-size: 35px;
        margin-right: 10px;
      }
    }

    .profile-details {
      display: flex;
      align-items: center;
      background: $test;
      //border: 2px solid $blue;
      border-radius: 6px;
      height: 50px;
      min-width: 190px;
      padding: 0 15px 0 2px;

      img {
        height: 40px;
        width: 40px;
        border-radius: 6px;
        object-fit: cover;
      }

      .admin_name {
        font-size: 15px;
        font-weight: 500;
        color: $fontColor;
        margin: 0 10px;
        white-space: nowrap;
      }

      i {
        font-size: 25px;
        color: $fontColor;
        margin-left: 8px;
      }
    }
  }
}

.sidebar.active~.home-section {
  width: calc(100% - 60px);
  left: 60px;
}

.sidebar.active~.home-section nav {
  left: 60px;
  width: calc(100% - 60px);
}

.home-section .home-content {
  position: relative;
  padding-top: 104px;
}

.home-content .overview-boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
  margin-bottom: 26px;

  .box {
    width: calc(100% / 4 - 15px);
    background: $test;
    border: solid 2px $blue;
    padding: 15px 14px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    text-align: center;

    i {
      font-size: 28px;
      margin-top: 14px;
    }
  
    .box-topic {
      font-size: 20px;
      font-weight: 500;
    }

    .cart {
      display: inline-block;
      font-size: 32px;
      height: 50px;
      width: 50px;
      background: #cce5ff;
      line-height: 50px;
      text-align: center;
      color: #66b0ff;
      border-radius: 12px;
      margin: -15px 0 0 6px;
    }
    .number {
      display: inline-block;
      font-size: 28px;
      margin-top: 8px;
      font-weight: 500;
    }
  }
}

@media (max-width: 1240px) {
  .sidebar {
    width: 60px;
  }

  .sidebar.active {
    width: 220px;
  }

  .home-section {
    width: calc(100% - 60px);
    left: 60px;
  }

  .sidebar.active~.home-section {
    overflow: hidden;
    left: 220px;
  }

  .home-section nav {
    width: calc(100% - 60px);
    left: 60px;
  }

  .sidebar.active~.home-section nav {
    width: calc(100% - 220px);
    left: 220px;
  }
}

@media (max-width: 1150px) {
  .home-content .sales-boxes {
    flex-direction: column;
  }

  .home-content .sales-boxes .box {
    width: 100%;
    overflow-x: scroll;
    margin-bottom: 30px;
  }

  .home-content .sales-boxes .top-sales {
    margin: 0;
  }
}

@media (max-width: 1000px) {
  .overview-boxes .box {
    width: calc(100% / 2 - 15px);
    margin-bottom: 15px;
  }
}

@media (max-width: 700px) {

  nav .sidebar-button .dashboard,
  nav .profile-details .admin_name,
  nav .profile-details i {
    display: none;
  }

  .home-section nav .profile-details {
    height: 50px;
    min-width: 40px;
  }

  .home-content .sales-boxes .sales-details {
    width: 560px;
  }
}

@media (max-width: 550px) {
  .overview-boxes .box {
    width: 100%;
    margin-bottom: 15px;
  }

  .sidebar.active~.home-section nav .profile-details {
    display: none;
  }
}

@media (max-width: 400px) {
  .sidebar {
    width: 0;
  }

  .sidebar.active {
    width: 60px;
  }

  .home-section {
    width: 100%;
    left: 0;
  }

  .sidebar.active~.home-section {
    left: 60px;
    width: calc(100% - 60px);
  }

  .home-section nav {
    width: 100%;
    left: 0;
  }

  .sidebar.active~.home-section nav {
    left: 60px;
    width: calc(100% - 60px);
  }
}